/* * {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
  */
body {
	background-image:gradient(gray,white)
}

h1{
    position: relative;
    text-align: center;
    font-size: 2.5em;
    
}
div#dog-div {
    margin-left:0%;
    margin-right: 0%;
}



#title{
	background-color: #FE9E16;
	color: #040404; 
	height: 100px;
	padding-top: 80px;
    border-radius: 40px;
    margin-top: auto;
	/* border-bottom: solid 0.25vh #E6E4E4; */

}

 img.dog-image {
    display : block;
    height: 200px;
    width: 200px;
    border-radius : 50%;
    position:inline;
    float :left;
    object-fit: scale-down;
    overflow: hidden;
}

p.dogDetail {
    display: inline-block;
    position : absolute;
    text-align: center;
    bottom: 300px;
    right : 750px;
    left: 750px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


div.big{
    display: inline-block;
    margin-left: 25%;
    margin-right: auto;
    position:relative;

}

div.not-big{
    display: inline-block;
    margin-left: 25%;
    margin-right: auto;
    position:relative;
    /* display: inline-block;
    width: 150px;
    padding: 75px;
    padding-top: 0px; */
    
}

div#form-div {
    display: none;
    position :auto;
    text-align: center;
    bottom: 300px;
    right : 750px;
    left: 750px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

button {
    cursor: pointer
}

input {
    cursor: pointer;
}

button#yes-button {
    background-color: whitesmoke ;
    border-radius: 10px;
    border-width: 1px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    position : absolute;
    bottom: 500px;
    right : 900px;
    width: 80px;
    height: 80px;
  
  }
  

button#no-button {

    background-color: whitesmoke ;
    border-radius: 10px;
    border-width: 1px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    position : absolute;
    bottom: 500px;
    right : 790px;
    width: 80px;
    height: 80px;

}
button:hover {
    background-color: rgb(146, 153, 164);
    color: #FE9E16;
  }